body{
    background-color: #FBD8AB;
}
p.pfirst{
    background: rgb(174, 154, 249, 0.4);
    word-spacing: 5px;
}
/*Jeg lærte at lave en border til min text hved hjælp af dette link https://stackoverflow.com/questions/2570972/css-font-border*/
/*Jeg lærte at lave opacity om hved hjælp af w3school, hvilket er hvorfor p har en class*/
h1.h1first{
    background: rgb(174, 154, 249, 0.4);
    color: #F8C6F9;
    -webkit-text-stroke: 2px black;
    text-align: center;
    margin: 100px 80px 15px 80px;   
}
h2.h2first{
    background: rgb(174, 154, 249, 0.4);
    color: #F8C6F9;
    -webkit-text-stroke: 1px black;
    text-align: center; 
    margin: 15px 100px 15px 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
h2.h2second{
    background: rgb(174, 154, 249, 0.4);
    color: #F8C6F9;
    -webkit-text-stroke: 1px black;
    text-align: center; 
    margin: 15px 70px 15px 70px; 
}
h2.h2third{
    background: rgb(174, 154, 249, 0.4);
    color: #F8C6F9;
    -webkit-text-stroke: 2px black;
    text-align: center;
    margin: 100px 80px 15px 80px;    
}
h3.h3first{
    background: rgb(174, 154, 249, 0.4);
    color: #F8C6F9;
    -webkit-text-stroke: 1px black;
    text-align: center;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 28px;
}
nav{
    background-color: #F8C6F9;
    margin: -10px -20px 10px -20px;
}
a{
    background-color: #AE9AF9;
}
img.imgfirst{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section.sectionfirst{
    background-image: url(./images/minvækcolage.PNG);
    background-size: cover;
    width: 390px;
    height: 420px;
    border-style: solid;
    border-width: 10px;
    border-color: #AE9AF9;
}
section.sectionsecond{
    background-image: url(./images/minamiazabu.jpg);
    background-size: cover;
    width: 410px;
    height: 300px;
    border-style: solid;
    margin: 0px 100px 0px 0px;
}
footer{
    background-color: #F8C6F9;
    box-sizing: border-box;
    text-align: center;
    margin: -6px -8px 0px -10px;
}

